* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
a {
    color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
    list-style-type: none;
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 0.833vw;
}

::-webkit-scrollbar {
    width: 0.521vw;
}
::-webkit-scrollbar-track {
    background: #f2f5fa;
    border-radius: 0.26vw;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(95.64deg, #6cd990 0%, #5ccc81 100%);

    border-radius: 0.26vw;
}
$global-padding: 8.333333333333332vw;

.container {
    padding: 0 7.81%;
}

body {
    // max-width: 100vw;
    color: #42474d;
}
.display_block_active {
    display: block;
}
.display_block_none {
    display: none;
}

.title {
    font-weight: 500;
    font-size: 2.81vw;
    line-height: 3.65vw;
}
.multi-title {
    margin-bottom: 3.125vw;
    font-weight: 500;
    font-size: 2.81vw;
    line-height: 3.65vw;
    text-align: center;
}
.marker {
    border-radius: 3.13vw;
    width: 2.08vw;
    height: 1.25vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.73vw;
    svg {
        width: 1.25vw;
    }

    .check {
        display: none;
    }
    rect {
        transition: all 1s;
    }
    &:hover {
        .check {
            display: block;
        }
        rect {
            fill-opacity: 1;
        }
    }
}
.active_marker {
    .check {
        display: block;
    }
    rect {
        fill-opacity: 1;
    }
}
// review---------
.hide {
    display: none;
}
.activeFlex {
    display: flex;
}
.review_video_weapper {
    width: 100%;
    height: 100%;
    position: relative;
    video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .play_paused_review {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;

        img {
            position: absolute;
            left: 47%;
            top: 46%;
        }
        .play_review {
            display: block;
        }
        .paused_review {
            display: none;
            width: 1.25vw;
        }
    }
}
// review---------
// <--------------swiper------------->
.swiper {
    width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
    width: 3.125vw !important;
    height: 3.125vw !important;
    background: linear-gradient(95.64deg, #6cd990 0%, #5ccc81 100%);
    box-shadow: 0vw 10vw 20vw rgba(92, 204, 129, 0.3);
    border-radius: 3.125vw;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        display: none;
    }
}
.swiper-button-prev {
    &::before {
        content: "";
        width: 0.885vw;
        height: 0.885vw;
        position: absolute;
        background: url("../images/slider/arrow-left.svg") center no-repeat;
        background-size: contain;
    }
}
.swiper-button-next {
    &::before {
        content: "";
        width: 0.885vw;
        height: 0.885vw;
        position: absolute;
        background: url("../images/slider/arrow-right.svg") center no-repeat;
        background-size: contain;
    }
}

// <--------------swiper------------->
// <--------------header------------->
.header {
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.56vw 7.81% 0;
    .header-wrapper {
        display: flex;
        align-items: center;
        .header-phone {
            display: flex;
            align-items: center;
            margin-right: 1.46vw;
            span {
                font-weight: 600;
                font-size: 1.04vw;
                padding-left: 0.42vw;
            }
        }
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #ffffff;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            background: linear-gradient(275.64deg, #49b86e 0%, #5ccc81 100%);
            border-radius: 0.83vw;
            font-weight: 600;
            font-size: 0.73vw;
            padding: 0.68vw 1.77vw;
            span {
                padding-left: 0.52vw;
            }
            &:hover {
                box-shadow: 0 0 0.521vw #49b86e;
            }
        }
    }
}
// <--------------header------------->
// <--------------home------------->
.home-midle__right-bottom-mobile {
    display: none;
}
.home {
    width: 100%;
    display: block;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)),
        url("../images/back_main.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
}
.home_wrappers {
    position: relative;
    width: 100%;
}
.home_midle {
    margin-top: 10.42vw;
    display: flex;
    justify-content: space-between;
}
.home_midle_left {
    width: 52%;
    .intensivFromSchool {
        font-weight: 600;
        font-size: 1.5vw;
        line-height: 2vw;
        span {
            color: #5ccc81;
        }
    }
    .title {
        font-weight: lighter;
        font-size: 3.65vw;
        line-height: 4.3vw;
        b {
            display: block;
        }
        span {
            color: #5ccc81;
        }
    }
    p {
        font-size: 1.25vw;
        font-weight: 600;
        margin-top: 2.083vw;
    }
    .upec {
        font-size: 1.458vw;
        font-weight: 700;
        display: flex;
        gap: 0.521vw;
        margin-bottom: 3.125vw;
        margin-top: 0.3125vw;

        span {
            display: flex;
            padding: 0.521vw 1.042vw;
            align-items: center;
            gap: 0.521vw;
            border-radius: 1.042vw;
            background: rgba(255, 255, 255, 0.5);
            font-size: 0.938vw;
            font-style: normal;
            font-weight: 400;
            img {
                width: 10%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    margin: 3.13vw 0;
    li {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1.1vw;
        line-height: 1.5vw;

        &:nth-child(2) {
            padding: 0.8vw 0;
        }
        img {
            margin-right: 1.04vw;
            width: 1.458vw;
        }
    }

    .companies {
        display: flex;
        gap: 2.708vw;
        width: 43.85vw;
        img {
            &:nth-child(1) {
                width: 4.948vw;
            }
            &:nth-child(2) {
                width: 9.583vw;
            }
            &:nth-child(3) {
                width: 8.281vw;
            }
            &:nth-child(4) {
                width: 10.156vw;
            }
        }
    }
}
.home_midle_right {
    width: 33%;
    color: #ffffff;
    .home_midle_right_top {
        display: flex;
        align-items: center;
        padding: 0.94vw;
        border-radius: 1.875vw 2.08vw 0 0;

        background: rgba(67, 168, 101, 0.8);
        .interval {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: 32%;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 1.04vw;
            padding: 0.94vw 0;
            .numbers {
                display: flex;
                align-items: center;
                gap: 0.3125vw;
                .number {
                    font-weight: 400;
                    font-size: 2.29vw;
                    line-height: 2.29vw;
                }
            }
            .line {
                width: 0.52vw;
                height: 0.3125vw;
                background-color: #ffffff;
            }
        }
        .country_city {
            padding-left: 4%;
            .country {
                display: flex;
                padding: 0.417vw 0.729vw;
                align-items: center;
                gap: 0.521vw;
                border-radius: 1.0416666666666665vw;
                background: #77d682;
                width: 9.792vw;
                i {
                    width: 0.625vw;
                    height: 0.625vw;
                    background: #60ff95;
                    border-radius: 100%;
                }
            }
            .city {
                font-weight: 500;
                font-size: 1.78vw;
                line-height: 2vw;
            }
        }
    }
}

.home_midle_right_bottom {
    border-radius: 2.083333333333333vw;
    background: linear-gradient(315deg, #5ccc81 0%, #82d982 80.73%), #5ccc81;
    padding: 1.88vw 1.57vw;
    border-radius: 0 0 2.0833vw 2.0833vw;
    .title {
        font-weight: 500;
        font-size: 1.78vw;
        line-height: 2.3vw;
    }
    input {
        background: transparent;
        border-width: 0 0 0.3125vw 0;
        display: block;
        padding: 0.94vw 0;
        color: #ffffff;
        border-color: rgba(255, 255, 255, 0.15);
        font-weight: 500;
        font-size: 0.9vw;
        line-height: 1.2vw;
        width: 100%;
        &::placeholder {
            color: #ffffff;
            font-size: 0.9vw;
        }
    }
    .agree_disagree {
        display: flex;
        margin: 2.1vw 0;
    }
    .conditions {
        font-weight: 500;
        font-size: 0.73vw;
        line-height: 1.2vw;
        color: #ffffff;
        a {
            color: #ffffff;
            text-decoration: revert;
        }
    }
    .button_accept {
        background-color: #ffffff;
        font-weight: 600;
        font-size: 0.9vw;
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5208333333333333vw;
        text-align: center;
        border-radius: 1.56vw;
        color: #42474d;
        transition: all 0.5s;
        cursor: pointer;
        img {
            width: 2.08vw;
        }
        &:hover {
            box-shadow: 0.3125vw 0.52vw 1.56vw rgba(255, 255, 255, 0.5);
        }
    }
}

.back-mobile {
    display: none;
}
// <--------------home------------->
// <--------------cards------------->
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10.5vw;
    position: relative;
    bottom: -5.717vw;
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2.76vw 1.56vw 1.82vw 2.08vw;
        width: 32.1%;
        height: 13.49vw;
        background: rgba(255, 255, 255);
        box-shadow: 0.3125vw 1.04vw 2.08vw rgba(44, 47, 51, 0.07);
        border-radius: 1.56vw;
        .number {
            font-weight: 700;
            font-size: 6.25vw;
            line-height: 5.21vw;
            color: #5ccc81;
            span {
                font-size: 1.04vw;
                line-height: 1.77vw;
            }
        }
        .card_subtitle {
            font-weight: 600;
            font-size: 1.04vw;
            line-height: 1.46vw;
        }
    }
}
// <--------------cards------------->
// <--------------education------------->

.education {
    display: flex;
    margin-top: 15.625vw;
    align-items: center;
    .education_left {
        position: relative;
        .main_foto {
            position: relative;
            border-radius: 0.521vw 19.792vw;
            width: 40.625vw;
            height: 36.458vw;
            z-index: 1;
        }
        .education_back {
            position: absolute;
            background: #5ccc81;
            border-radius: 0.521vw 20.833vw;
            width: 100%;
            height: 100%;
            top: 1.563vw;
            left: -1.563vw;
        }
    }
    .education_right {
        padding-left: 6.25vw;
    }
    .subtitle {
        font-size: 1.25vw;
        line-height: 1.771vw;
        margin-top: 2.08vw;
    }
}

// <--------------education------------->

// <--------------experts_world------------->
.experts_world {
    background: #f5f7f5;
    border-radius: 3.13vw;
    overflow: hidden;
    padding: $global-padding 0;
    .swiper {
        overflow: visible !important;
        .swiper-wrapper {
            transition: 0.1s !important;
        }
        .swiper-slide {
            width: 27.08vw;
            height: 46.88vw;
            opacity: 0.9;
            overflow: hidden;
            border-radius: 1.302vw;
            margin: 0 0.521vw !important;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            transform: translateY(1.563vw);
            // &.swiper-slide-active {
            //     opacity: 1;
            //     width: 27.083333333333332vw !important;
            //     height: 44.79166666666667vw !important;
            //     transform: translateY(0vw);
            //     box-shadow: 0vw 1.04vw 1.56vw rgba(44, 47, 51, 0.2);
            //     .play {
            //         opacity: 1;
            //     }
            // }
            &.swiper-slide-prev,
            &.swiper-slide-next {
                .play {
                    opacity: 1;
                }
            }
        }
        .swiper-button-prev {
            left: 6.771vw;
            top: 12.656vw;
            z-index: 4;
        }
        .swiper-button-next {
            right: 6.771vw;
            top: 12.656vw;
            z-index: 4;
        }
    }
    .experts_world_top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .experts_world_top_title {
            font-weight: 500;
            font-size: 2.81vw;
            line-height: 3.65vw;
            width: 35%;
        }
        .experts_world_top_arrows {
            position: relative;
            img {
                width: 9.583vw;
            }
            .arrows {
                position: absolute;
                left: 6.15vw;
                top: 2.6vw;
                width: 100%;
                display: flex;
                align-items: center;
                .swiper-button-prev {
                    margin-right: 0.521vw;
                }
                .swiper-button-prev,
                .swiper-button-next {
                    position: relative;
                    top: initial !important;
                    bottom: initial !important;
                    left: initial !important;
                    right: initial !important;
                    margin-top: initial !important;
                }
            }
        }
    }
    .experts_world_block {
        width: 100%;
        height: 100%;
        background: #ffffff;
        box-shadow: 0vw 0.208vw 20vw rgba(0, 0, 0, 0.07);
        border-radius: 1.563vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        .img {
            width: 100%;
            height: 16.667vw;
            img {
                width: 100%;
                height: 100%;
                min-height: 16.667vw;
                object-fit: cover;
                display: block;
            }
        }
        .content {
            width: 100%;
            height: 100%;
            padding: 2.08vw;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            .country {
                font-weight: 500;
                font-size: 1.04vw;
                line-height: 1.46vw;
                color: #43a865;
            }
            .name_surname {
                font-weight: 500;
                font-size: 1.56vw;
                line-height: 2.08vw;
            }
            .green_line {
                width: 1.25vw;
                border: 0.3125vw solid #5ccc81;
                margin: 1.04vw 0;
            }
            li {
                display: flex;
                align-items: center;
                font-size: 0.83vw;
                line-height: 1.15vw;
                img {
                    width: 1.25vw;
                    padding-right: 0.52vw;
                }
            }
            li + li {
                padding-top: 1.04vw;
            }
        }
    }
}
// <--------------experts_world------------->

// <--------------cost_travel------------->
.cost-travel {
    background: linear-gradient(96.84deg, #41b3d9 0%, #498ed2 99.04%);
    border-radius: 3.13vw;
    position: relative;
    padding: $global-padding 0;
    color: #ffffff;
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 4.166666666666666vw;
    }
    .left_block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cost_travel_wrapper {
        position: absolute;
        bottom: 0.3125vw;
        left: -0.5vw;
        width: 100%;
        z-index: 1;
        height: 100%;
        background-image: url("../images/cost_travel/Intersect.png");
        background-size: cover;

        background-repeat: no-repeat;
        mix-blend-mode: multiply;
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .cost_travel_left_top {
        font-size: 2.2916666666666665vw;
    }
    .cost_travel_left_bottom {
        display: flex;
        align-items: flex-end;
        white-space: nowrap;
        padding-top: 2.97vw;
        .cost {
            p {
                font-weight: 600;
                font-size: 0.94vw;
                line-height: 1.35vw;
            }
            span {
                font-weight: 500;
                font-size: 4.69vw;
                line-height: 4.69vw;
            }
        }
        .salary {
            font-weight: 500;
            font-size: 1.56vw;
            line-height: 2.08vw;
            text-decoration-line: line-through;
            color: rgba(255, 255, 255, 0.3);
            padding-left: 1%;
        }
    }
    .right_block {
        width: 45.67%;
        input {
            font-weight: 500;
            font-size: 0.94vw;
            line-height: 1.25vw;
            color: #ffffff;
            padding: 1.93vw 0.3125vw;
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 0.3125vw solid rgba(255, 255, 255, 0.2);

            &::placeholder {
                color: #ffffff;
            }
        }
        .tel_email {
            display: flex;
            input + input {
                margin-left: 0.78vw;
            }
        }
        .wrapper-button-cost {
            display: flex;
            gap: 1.0416666666666665vw;
        }

        .button_accept,
        .button-information {
            width: 16.67vw;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-evenly;
            background: linear-gradient(307deg, #82d982 0%, #5ccc81 100%),
                linear-gradient(315deg, #5ccc81 34.9%, #a4eba4 100%), #fff;
            cursor: pointer;
            padding: 1.04vw 0.73vw;
            border-radius: 1.56vw;
            color: #ffffff;
            font-weight: 600;
            font-size: 0.94vw;
            line-height: 1.25vw;
            &:hover {
                box-shadow: 0.3125vw 0.52vw 1.56vw rgba(92, 204, 129, 0.3);
            }
        }
        .button-information_color {
            background: linear-gradient(170deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
        }
        .conditions_wrapper {
            padding: 2.08vw 0;
            display: flex;
            align-items: flex-start;
            img {
                width: 1.25vw;
                padding-right: 0.52vw;
            }
        }
        .conditions {
            font-weight: 500;
            font-size: 0.83vw;
            line-height: 1.04vw;
            color: #ffffff;

            a {
                color: #ffffff;
                text-decoration-line: underline;
            }
        }
    }
}
// <--------------cost_travel------------->
// <--------------review------------->

.review {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $global-padding 0;
    .multi-title {
        margin-bottom: -3.6458333333333335vw;
    }
    .multi-subtitle {
        margin-bottom: 3.125vw;
        font-weight: 400;
        font-size: 1.56vw;
        line-height: 2.08vw;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn_review {
        background: linear-gradient(275.64deg, #5ccc81 34.9%, #a4eba4 100%), #ffffff;
        display: flex;

        align-items: center;
        justify-content: center;
        width: 24.7%;
        padding: 1.04vw 0.73vw;
        border-radius: 1.56vw;
        color: #ffffff;
        font-size: 0.83vw;
        img {
            width: 2.08vw;
            padding-left: 0.42vw;
        }
    }
}

.review-items {
    width: 100%;
    max-width: 76.042vw;
    margin-bottom: 6.25vw;
    .swiper {
        overflow: visible !important;
        .swiper-wrapper {
            transition: 0.1s !important;
        }
        .swiper-slide {
            width: 27.08vw;
            height: 46.88vw;
            opacity: 0.9;
            overflow: hidden;
            border-radius: 1.302vw;
            margin: 0 0.521vw !important;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            transform: translateY(1.563vw);
            // &.swiper-slide-active {
            //     opacity: 1;
            //     width: 27.083333333333332vw !important;
            //     height: 44.79166666666667vw !important;
            //     transform: translateY(0vw);
            //     box-shadow: 0vw 1.04vw 1.56vw rgba(44, 47, 51, 0.2);
            //     .play {
            //         opacity: 1;
            //     }
            // }
            &.swiper-slide-prev,
            &.swiper-slide-next {
                .play {
                    opacity: 1;
                }
            }
        }
        .swiper-button-prev {
            left: 6.771vw;
            top: 12.656vw;
            z-index: 4;
        }
        .swiper-button-next {
            right: 6.771vw;
            top: 12.656vw;
            z-index: 4;
        }
    }

    .swiper {
        overflow: visible !important;
        .swiper-wrapper {
            transition: 0.1s !important;
        }
        .swiper-slide {
            width: 27.08vw;
            height: 46.88vw;
            opacity: 0.9;
            overflow: hidden;
            border-radius: 1.302vw;
            margin: 0 0.521vw !important;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            transform: translateY(1.563vw);
            // &.swiper-slide-active {
            //     opacity: 1;
            //     width: 27.083333333333332vw !important;
            //     height: 44.79166666666667vw !important;
            //     transform: translateY(0vw);
            //     box-shadow: 0vw 1.04vw 1.56vw rgba(44, 47, 51, 0.2);
            //     .play {
            //         opacity: 1;
            //     }
            // }
            &.swiper-slide-prev,
            &.swiper-slide-next {
                .play {
                    opacity: 1;
                }
            }
        }
        .swiper-button-prev {
            left: 6.771vw;
            top: 12.656vw;
            z-index: 4;
        }
        .swiper-button-next {
            right: 6.771vw;
            top: 12.656vw;
            z-index: 4;
        }
    }
    .swiper {
        width: 100%;
        overflow: visible !important;
        .swiper-slide {
            opacity: 0 !important;
            pointer-events: none !important;
            transition: 0.3s;
            width: auto;
            height: auto;
            width: auto;
            height: auto;
            transform: translateY(4.563vw);
            &.swiper-slide-active,
            &.swiper-slide-next {
                opacity: 1 !important;
                pointer-events: visible !important;
            }
        }
        .swiper-button-prev {
            left: -5.208vw;
        }
        .swiper-button-next {
            right: -5.208vw;
        }
    }
    .review-block {
        width: 37.5vw;
        height: 100%;
        padding: 2.083vw;
        background: #f5f5f5;
        box-shadow: 0vw 30vw 40vw rgba(0, 0, 0, 0.01);
        border-radius: 2.083vw;
        .top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.042vw;
            .person {
                display: flex;
                align-items: center;
                .img {
                    width: 4.167vw;
                    min-width: 4.167vw;
                    max-width: 4.167vw;
                    height: 4.167vw;
                    margin-right: 1.042vw;
                    overflow: hidden;
                    border-radius: 50%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info {
                    width: auto;
                    margin-right: 1.042vw;
                    .name {
                        margin-bottom: 0.26vw;
                        font-weight: 600;
                        font-size: 1.146vw;
                        line-height: 1;
                        color: #42474d;
                    }
                    .place {
                        font-weight: 600;
                        font-size: 0.833vw;
                        line-height: 1.25;
                        color: #47b38f;
                    }
                }
            }
            .socials {
                display: flex;
                align-items: center;
                a {
                    width: 2.292vw;
                    min-width: 2.292vw;
                    max-width: 2.292vw;
                    height: 2.292vw;
                    margin-right: 0.521vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #ffffff;
                    border-radius: 50%;
                    transition: all 1s;
                    &:hover {
                        background-color: #b6b6b6;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    img {
                        width: 1.042vw;
                        height: 1.042vw;
                        object-fit: contain;
                    }
                }
            }
        }
        .content {
            width: 100%;
            .text {
                font-weight: 500;
                font-size: 0.833vw;
                line-height: 1.75;
                color: #667280;
                span {
                    color: #43a865;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}
.doctors_reviews_more_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    visibility: hidden;
    .review_closed {
        cursor: pointer;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }
    .title {
        font-size: 2.81vw;
        line-height: 3.65vw;
        margin: 1.0416666666666665vw;
        color: #ffffff;
    }
    .review_closed {
        position: absolute;
        right: 3.54vw;
        top: 2.08vw;
    }

    .swiper-button-next-review_more {
        right: 6vw;
        top: 27vw;
    }
    .swiper-button-prev-review_more {
        left: 6vw;
        top: 27vw;
    }
}
.doctors_reviews_more {
    display: flex;
    flex-direction: column;
    padding: 2.08vw;
    overflow: scroll;

    width: 72.92vw;
    height: 95%;

    background: #ffffff;
    box-shadow: 0.3125vw 0.78125vw 1.5625vw rgba(0, 0, 0, 0.15);
    border-radius: 2.08vw;
    &::-webkit-scrollbar {
        display: none;
    }
    .top {
        display: flex;
        align-items: center;
        margin-bottom: 0.94vw;
        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
        }
        .img {
            img {
                width: 7.29vw;
                margin-right: 1.04vw;
                border-radius: 50%;
            }
        }
        .person {
            display: flex;
            flex-direction: column;
            height: 100%;

            .name {
                font-weight: 600;
                font-size: 1.25vw;
                line-height: 1.77vw;
            }
            .wrapper_name_socials {
                display: flex;
                align-items: center;
            }
            .socials {
                margin-left: 0.5208333333333333vw;
                display: flex;
                display: none;

                a {
                    &:nth-child(1) {
                        margin-right: 0.52vw;
                    }
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 1.77vw;
                    height: 1.77vw;
                    background: #f2f4f7;
                    border-radius: 50%;
                    &:hover {
                        background-color: #b6b6b6;
                    }
                }
            }
            .place {
                font-weight: 500;
                font-size: 0.83vw;
                line-height: 1.15vw;
                color: #43a865;
            }
        }
    }
    .content {
        margin-top: 0.54vw;
        .text {
            font-size: 0.83vw;

            line-height: 1.35vw;
            p {
                margin-bottom: 1.3vw;
            }
        }
        li {
            list-style-type: disc;
            margin-left: 2.08vw;
        }
    }
}
.review-video {
    width: 100%;
    min-height: 29.167vw;
    margin-bottom: 3.125vw;
    position: relative;
    &::before {
        content: "";
        width: 11.979vw;
        height: calc(100% - 3.125vw);
        position: absolute;
        left: 0;
        top: 1.563vw;
        z-index: 2;
        pointer-events: none;
        background: linear-gradient(90deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
    }
    &::after {
        content: "";
        width: 11.979vw;
        height: calc(100% - 3.125vw);
        position: absolute;
        right: 0;
        top: 1.563vw;
        z-index: 2;
        pointer-events: none;
        background: linear-gradient(-90deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
    }
    .swiper {
        overflow: visible !important;
        .swiper-wrapper {
            transition: 0.1s !important;
        }
        .swiper-slide {
            width: 17.708vw !important;
            height: 26.042vw !important;
            opacity: 0.9;
            overflow: hidden;
            border-radius: 1.302vw;
            margin: 0 0.521vw !important;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            transform: translateY(1.563vw);
            &.swiper-slide-active {
                opacity: 1;
                width: 20.833vw !important;
                height: 29.167vw !important;
                transform: translateY(0vw);
                box-shadow: 0vw 1.04vw 1.56vw rgba(44, 47, 51, 0.2);
                .play {
                    opacity: 1;
                }
            }
            &.swiper-slide-prev,
            &.swiper-slide-next {
                .play {
                    opacity: 1;
                }
            }
        }
        .swiper-button-prev {
            left: 6.771vw;
            top: 12.656vw;
            z-index: 4;
        }
        .swiper-button-next {
            right: 6.771vw;
            top: 12.656vw;
            z-index: 4;
        }
    }
    .item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        .item-bg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .play {
            position: absolute;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.125vw;
            height: 3.125vw;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(0.26vw);
            border-radius: 2.604vw;
            opacity: 0;
            transition: 0.3s;
            img {
                width: 1.042vw;
                height: 1.042vw;
                object-fit: contain;
            }
        }
    }
}
// <--------------review------------->
// <-----------------faq------------->
.faq {
    width: 100%;
    background: #f5f7f5;
    padding: $global-padding 0;
    .title {
        text-align: center;
        margin-bottom: 3.13vw;
    }
}
.faq-items {
    width: 62%;

    .item {
        width: 100%;
        position: relative;
        border-bottom: 0.052vw solid #dae3f1;
        &.active {
            .item-top {
                &::before {
                    transform: rotate(180deg);
                }
            }
            .item-content {
                display: block;
            }
        }
        .item-top {
            width: 100%;

            padding: 1.51vw 3.646vw 1.51vw 0;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            &::before {
                content: "";
                width: 0.781vw;
                height: 0.781vw;
                position: absolute;
                right: 1.042vw;
                background: url("../images/faq/arrow-down.svg") right center no-repeat;
                background-size: contain;
                transition: 0.3s;
            }
            .name {
                font-weight: 600;
                font-size: 1.25vw;
                line-height: 1.33;
                color: #42474d;
            }
        }
        .item-content {
            width: 100%;
            padding: 0 0 1.042vw 0;
            display: none;
            span {
                font-weight: 500;
                font-size: 0.938vw;
                line-height: 1.44;
                color: #a6acb3;
                display: inline-block;
                margin-bottom: 0.521vw;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.faq_wrapper {
    display: flex;
    justify-content: space-between;
}
.question_mobile {
    display: none;
}
.faq_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.08vw 1.56vw;
    width: 32.1%;
    height: 35vw;
    background: #5ccc81;
    box-shadow: 0.3125vw 1.04vw 2.08vw rgba(92, 204, 129, 0.3);

    border-radius: 2.08vw;
    color: #ffffff;
    .title {
        font-weight: 500;
        font-size: 1.77vw;
        line-height: 2.29vw;
        margin: 0;
    }
    .subtitle {
        margin: 0.52vw 0;
        font-weight: 500;
        font-size: 1.04vw;
        line-height: 1.46vw;
    }
    input {
        width: 100%;
        border: none;
        border-bottom: 0.3125vw solid rgb(255, 255, 255, 0.3);
        background: transparent;
        padding: 1.04vw 0.3125vw;
        color: #ffffff;
        font-size: 0.94vw;
        &::placeholder {
            color: #ffffff;
        }
    }
    .faq_form_accept {
        display: flex;
        padding-top: 2.08vw;

        .accept_conditions {
            font-size: 0.73vw;
            line-height: 1.15vw;
            a {
                color: #ffffff;
                text-decoration: underline;
            }
        }
    }
    .btn_application {
        font-weight: 600;
        font-size: 0.94vw;
        line-height: 1.25vw;
        background: #ffffff;
        border-radius: 1.56vw;
        width: 100%;
        color: #42474d;
        padding: 1.04vw 0.73vw;
        text-align: center;
        cursor: pointer;
        margin-top: 2.08vw;
        margin-bottom: 0.52vw;
        transition: all 0.5s;
        &:hover {
            box-shadow: 0.3125vw 0.5208333333333333vw 1.5625vw rgba(255, 255, 255, 0.3);
        }
    }
    .btn_call {
        width: 100%;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 1.56vw;
        padding: 1.04vw 0.73vw;
        color: #ffffff;
        font-size: 0.83vw;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
            box-shadow: 0.3125vw 0.5208333333333333vw 1.5625vw rgba(51, 51, 51, 0.3);
        }
    }
}
// <-----------------faq------------->
// <---------------telegram--------------->
.tg-qr {
    width: 100%;
    padding: 2.604vw 0;
    background: #4da2d6;
}
.tg-qr-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content {
        padding-right: 5.208vw;
        .name {
            margin-bottom: 2.083vw;
            font-weight: 500;
            font-size: 2.083vw;
            line-height: 1.15;
            color: #ffffff;
        }
        .subname {
            font-weight: 500;
            font-size: 1.25vw;
            line-height: 1.17;
            color: #ffffff;
        }
    }
    .qr-code {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 1.042vw 2.083vw;
        background: #ffffff;
        border-radius: 1.042vw;
        .img {
            width: 7.292vw;
            min-width: 7.292vw;
            max-width: 7.292vw;
            height: 7.292vw;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.521vw;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
        .name {
            width: 100%;
            max-width: 7.292vw;
            font-weight: 600;
            font-size: 0.729vw;
            line-height: 1.14;
            color: #828d99;
        }
    }
    .btn {
        display: none;
    }
}
// <---------------telegram--------------->
// <--------------------footer--------------->

.footer {
    width: 100%;
    background: #42474d;
}
.footer-main {
    width: 100%;
    padding: 3.6458333333333335vw 2.604vw 1.042vw 2.604vw;
    border-bottom: 0.052vw solid rgba(255, 255, 255, 0.1);
}
.footer-main .footer__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4.166666666666666vw;
    height: 100%;
}
.footer-main .footer__info .logo-wrapper {
    display: flex;
    align-items: center;
}
.footer-main .footer__info .logo-wrapper .logo {
    margin-right: 1.042vw;
}
.footer-main .footer__info .logo-wrapper .logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.footer-main .footer__info .logo-wrapper .logo-name {
    padding-left: 1.042vw;
    font-weight: 500;
    font-size: 0.7291666666666666vw;
    line-height: 1.29;
    color: rgba(255, 255, 255, 0.3);
    border-left: 0.052vw solid rgba(255, 255, 255, 0.05);
}
.footer-main .footer__info .social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-main .footer__info .social a {
    height: 2.8125vw;
    width: 2.8125vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.521vw;
    margin-bottom: 0.521vw;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    transition: 0.3s;
}
.footer-main .footer__info .social a:hover {
    background: rgba(255, 255, 255, 0.15);
}
.footer-main .footer__info .social a:last-child {
    margin-right: 0;
}
.footer-main .footer__info .social a img {
    width: 100%;
    max-width: 1.1458333333333333vw;
    height: 100%;
    max-height: 1.1458333333333333vw;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}
.footer-main .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-main .content .content-title {
    margin-bottom: 1.042vw;
    width: auto;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.22;
    color: #fff;
}
.footer-main .content .menu {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.footer-main .content .menu .col {
    width: 100%;
    max-width: 19.063vw;
}
.footer-main .content .menu .col a {
    display: block;
    margin-bottom: 0.521vw;
    font-weight: 500;
    font-size: 0.833vw;
    line-height: 1.12;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}
.footer-main .content .menu .col a:hover {
    color: rgba(255, 255, 255, 0.8);
}
.footer-messengers {
    width: 100%;
    max-width: 20.833vw;
}
.footer-messengers__item {
    width: 2.8125vw;
    height: 2.8125vw;
}
.footer-messengers__item img {
    max-width: 100%;
}
.footer-messengers .footer-messengers-items {
    width: 100%;
}
.footer-messengers .footer-messengers-items .row {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 0.5208333333333333vw;
}
.footer-messengers .footer-messengers-items .row .item {
    width: 100%;
    margin-right: 0.521vw;
    margin-bottom: 0.521vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.833vw;
    padding: 0.677vw;
    transition: 0.3s;
}
.footer-messengers .footer-messengers-items .row .item:hover {
    background: rgba(255, 255, 255, 0.15);
}
.footer-messengers .footer-messengers-items .row .item:last-child {
    margin-right: 0;
}
.footer-messengers .footer-messengers-items .row .item .img {
    width: 1.25vw;
    min-width: 1.25vw;
    max-width: 1.25vw;
    height: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.521vw;
}
.footer-messengers .footer-messengers-items .row .item .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}
.footer-messengers .footer-messengers-items .row .item .item-text {
    width: auto;
}
.footer-messengers .footer-messengers-items .row .item .item-text .item-text-supname {
    font-weight: 500;
    font-size: 0.417vw;
    line-height: 0.521vw;
    color: #fff;
}
.footer-messengers .footer-messengers-items .row .item .item-text .item-text-name {
    font-weight: 500;
    font-size: 0.729vw;
    line-height: 1.29;
    color: #fff;
}
.footer-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.563vw 2.604vw;
    border-bottom: 0.052vw solid rgba(255, 255, 255, 0.1);
}
.footer-contact .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-contact .wrapper .item {
    margin-right: 2.083vw;
}
.footer-contact .wrapper .item:last-child {
    margin-right: 0;
}
.footer-contact .item {
    display: flex;
    align-items: center;
}
.footer-contact .item .img {
    width: 0.938vw;
    min-width: 0.938vw;
    max-width: 0.938vw;
    height: 0.938vw;
    margin-right: 0.417vw;
}
.footer-contact .item .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}
.footer-contact .item .name {
    font-weight: 500;
    font-size: 0.833vw;
    line-height: 1.12;
    color: #fff;
}
.footer-copyright {
    width: 100%;
    padding: 1.563vw 2.604vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright .wrapper {
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-copyright .wrapper a {
    margin-right: 2.083vw;
}
.footer-copyright .wrapper a:last-child {
    margin-right: 0;
}
.footer-copyright .name {
    font-weight: 500;
    font-size: 0.833vw;
    line-height: 1.12;
    color: rgba(255, 255, 255, 0.3);
}
.footer-copyright a {
    font-weight: 500;
    font-size: 0.833vw;
    line-height: 1;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.5);
}
.footer-contact-m {
    display: none;
}
// <--------------------footer--------------->
// -----------------scientific_program--------------- -->
.wrapper-scientific-program {
    padding: $global-padding 0;
    .container {
        display: flex;
        flex-direction: column;
        gap: 1.5625vw;
    }
}
.scientific-program {
    max-width: 83.33333333333334vw;
    background: linear-gradient(#5ccc81, #82d982);
    &.back_violet {
        background: linear-gradient(315deg, #af90e7 0%, #8b6ebc 77.12%),
            linear-gradient(315deg, #ffbe39 0%, #f9ad13 39.58%), linear-gradient(135deg, #41b3d9 0%, #498ed2 100%);
    }
    border-radius: 2.083333333333333vw;
    overflow: auto;
    &__header {
        display: flex;
        padding: 1.5625vw;
        align-items: center;
        gap: 1.0416666666666665vw;
        align-self: stretch;

        color: var(--base-w, #fff);
        text-align: center;
        font-family: Montserrat;
        .month-time {
            display: flex;
            padding: 0.5208333333333333vw 1.0416666666666665vw 0.5208333333333333vw 0.5208333333333333vw;
            justify-content: center;
            align-items: center;
            gap: 0.7291666666666666vw;
            border-radius: 1.5625vw;
            background: rgba(67, 168, 101, 0.3);
            &.back_violet {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
                    linear-gradient(282deg, #af90e7 0%, #8b6ebc 77.12%),
                    linear-gradient(282deg, #ffbe39 0%, #f9ad13 100%);
            }
        }
        .month {
            border-radius: 1.0416666666666665vw;
            background: linear-gradient(94deg, #5ccc81 0%, #82d982 80.73%),
                linear-gradient(278deg, #ffbe39 0%, #f9ad13 39.58%), rgba(255, 255, 255, 0.15);
            box-shadow: 0.3125vw 0.3125vw 0.5208333333333333vw 0.3125vw rgba(73, 184, 110, 0.15);
            &.back_violet {
                background: linear-gradient(277deg, #af90e7 0%, #8b6ebc 77.12%),
                    linear-gradient(278deg, #ffbe39 0%, #f9ad13 39.58%), rgba(255, 255, 255, 0.15);
            }
            display: flex;
            padding: 0.5208333333333333vw;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 2.083333333333333vw;

            font-weight: 500;
            span {
                font-size: 0.5729166666666666vw;
                font-weight: 600;
                line-height: 0.8333333333333334vw;
            }
        }
        .time {
            font-size: 1.25vw;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
                width: 0.5208333333333333vw;
                height: 0.3125vw;
                background-color: white;
            }
        }
    }

    &__title {
        font-size: 1.5625vw;
        font-style: normal;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 0.4166666666666667vw;
        text-align: start;
        .category {
            display: flex;
            gap: 0.4166666666666667vw;
            & > div {
                font-size: 0.9375vw;
                font-style: normal;
                font-weight: 500;
                border-radius: 1.0416666666666665vw;
                background: rgba(67, 168, 101, 0.3);
                display: flex;
                align-items: center;
                gap: 0.5208333333333333vw;
                padding: 0.4166666666666667vw 0.7291666666666666vw;

                span {
                    width: 0.625vw;
                    height: 0.625vw;
                    background: #60ff95;
                    border-radius: 100%;
                }
            }
            .back_violet {
                background: rgba(255, 255, 255, 0.1);
            }
        }
    }
    &__footer {
        margin: 0.3125vw 0.5208333333333333vw 0.5208333333333333vw 0.5208333333333333vw;
        border-radius: 2.083333333333333vw;
        color: #42474d;
        font-family: Montserrat;
        font-size: 1.1458333333333333vw;
        font-style: normal;
        font-weight: 600;
        background: #f2f4f7;
        overflow: auto;

        .wrapper-topic-speaker {
            .child_remove {
                display: none;
            }
            &:nth-child(2n) {
                background: #fff;
            }
        }
        .topic-speaker {
            &:nth-child(1) {
                font-size: 0.9375vw;
                font-weight: 500;
            }

            display: flex;
            padding: 1.5625vw;
            align-items: flex-start;
            gap: 2.083333333333333vw;
            align-self: stretch;
            &__topic {
                width: 75%;
            }
            &__cases {
                display: flex;
                gap: 2.5%;
                font-size: 1.0416666666666665vw;

                p {
                    &:first-child {
                        margin-bottom: 0;
                    }
                    &:last-child {
                        font-weight: 500;
                    }
                }
                span {
                    font-weight: 500;
                    color: #43a865;
                    position: relative;
                    display: block;
                    margin-bottom: 2.083333333333333vw;
                    &.color_violet {
                        color: #9568e7;
                    }
                    &::before {
                        content: "";
                        width: 1.25vw;
                        border: 0.3125vw solid;
                        position: absolute;
                        bottom: -1.0416666666666665vw;
                    }
                }
            }
            &__speaker:not(.edit) {
                font-size: 0.9375vw;
                text-decoration-line: underline;
                color: #5ccc81;
                &.color_violet {
                    color: #9568e7;
                }
            }
        }
    }
}

//-----------------scientific_program_end--------------- -->
// ---------------participation в cost_travel (родитель скрытых блоков buy-vebinar)---------------
.buy-vebinar {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--base-s, #42474d);
}
.accept-participation {
    display: flex;

    align-items: flex-start;
    gap: 4.166666666666666vw;
    align-self: stretch;
    font-family: Montserrat;
}
.wrapper-informatin-participation {
    width: 41.40625vw;

    .color_green {
        background: linear-gradient(315deg, #5ccc81 0%, #82d982 80.73%),
            linear-gradient(315deg, #9f81d4 0%, #8b6ebc 77.12%);
        &:hover {
            box-shadow: 0.3125vw 0.78125vw 1.3020833333333335vw 0.3125vw rgba(92, 204, 129, 0.35);
        }
    }
    .color_violet {
        background: linear-gradient(315deg, #9f81d4 0%, #8b6ebc 77.12%), #9568e7;
        &:hover {
            box-shadow: 0.3125vw 0.78125vw 1.3020833333333335vw 0.3125vw rgba(188, 44, 245, 0.35);
        }
    }
    .color_blue {
        background: linear-gradient(142deg, #41b3d9 0%, #498ed2 100%),
            linear-gradient(170deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
    }
}
.information-for-participation {
    border-radius: 2.083333333333333vw 2.083333333333333vw 0.3125vw 0.3125vw;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
    padding: 2.083333333333333vw;

    height: 19.583333333333332vw;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-family: Montserrat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__top {
        display: flex;
        align-items: center;
        gap: 1.0416666666666665vw;
        width: 100%;
    }
    &__month-time {
        display: flex;
        padding: 0.5208333333333333vw 1.0416666666666665vw 0.5208333333333333vw 0.5208333333333333vw;
        justify-content: center;
        align-items: center;
        gap: 0.7291666666666666vw;
        border-radius: 1.5625vw;
        background: #43aed9;
        width: 9.166666666666666vw;
        height: 5.520833333333333vw;
        &.color_violent {
            background: linear-gradient(0deg, #7a61a6 0%, #7a61a6 100%),
                linear-gradient(315deg, #f9ad13 0%, #ffbe39 100%);
        }
        &.edit {
            width: 13.020833333333334vw;
        }
    }
    &_month {
        font-size: 2.2916666666666665vw;
        line-height: 2.604166666666667vw; /* 113.636% */
        background: rgba(255, 255, 255, 0.15);
        border-radius: 1.0416666666666665vw;
        padding: 0.5208333333333333vw;
        font-weight: 500;
        height: 4.479166666666667vw;
        position: relative;
        display: flex;
        align-items: center;
        padding-bottom: 1.25vw;
        i {
            display: block;
            width: 0.5208333333333333vw;
            height: 0.3125vw;
            background: var(--base-w, #fff);
        }
        span {
            font-size: 0.625vw;

            font-weight: 700;
            position: absolute;
            bottom: 0.3125vw;
            left: 25%;
        }
    }
    &_time {
        font-size: 1.25vw;
        line-height: 1.7708333333333333vw;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 0.5208333333333333vw;
            border: 0.3125vw solid white;
            left: 43%;
        }
    }
    &__wrapper_right {
        font-size: 1.0416666666666665vw;
        font-style: normal;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
    }
    &__closed {
        width: 1.0416666666666665vw;
        height: 1.0416666666666665vw;
        position: relative;
        cursor: pointer;
        &:after,
        &:before {
            content: "";
            width: 100%;
            border: 0.3125vw solid rgba(255, 255, 255, 1);
            border-radius: 0.3125vw;
            position: absolute;
        }
        &:after {
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
    }
    &__status {
        padding: 0.4166666666666667vw 0.7291666666666666vw 0.4166666666666667vw 1.875vw;
        border-radius: 1.0416666666666665vw;
        background: rgba(255, 255, 255, 0.15);
        text-align: center;
        position: relative;
        span {
            font-weight: 400;
        }
        &:before {
            position: absolute;
            content: "";
            width: 0.625vw;
            height: 0.625vw;
            background: #60ff95;
            border-radius: 1.0416666666666665vw;
            left: 0.8333333333333334vw;
            top: 0.6770833333333334vw;
        }
    }
    &__for {
        font-size: 1.25vw;
    }
    &__cost {
        font-size: 2.8125vw;
        font-weight: 400;
        padding-top: 2.083333333333333vw;
        span {
            color: rgba(255, 255, 255, 0.3);
            font-family: Montserrat;
            font-size: 1.5625vw;
            font-style: normal;
            font-weight: 600;
            line-height: 2.34375vw; /* 150% */
            text-decoration-line: line-through;
        }
    }
    &__description {
        font-size: 1.5625vw;
        font-weight: 600;
        text-align: left;
        span {
            font-weight: 400;
        }
    }
}
.wrapper-informatin-participation {
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    &__btn {
        border-radius: 0.3125vw 0.3125vw 1.5625vw 1.5625vw;
        cursor: pointer;
        padding: 0.78125vw 2.083333333333333vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.0416666666666665vw;
        font-weight: 600;
        transition: box-shadow 0.5s ease-in;
    }
}

.information-for-buy {
    background: #fff;
    padding: 1.5625vw 2.083333333333333vw;
    color: #42474d;
    border-radius: 0 0 1.5625vw 1.5625vw;
    &__title {
        font-size: 1.25vw;
        line-height: 1.4583333333333333vw;
        font-weight: 500;
        text-align: center;
        display: none;
    }
    &__tel-email {
        display: flex;
        gap: 1.0416666666666665vw;
    }
    input {
        width: 100%;
        padding: 1.0416666666666665vw 0.3125vw;
        font-size: 0.9375vw;
        outline: none;
        border: none;
        border-bottom: 0.3125vw solid var(--faint-w-line, #dae3f1);
    }
    &__conditions {
        display: flex;
        align-items: center;
        gap: 0.5208333333333333vw;
        margin: 2.083333333333333vw 0;
        a {
            color: #42474d;
        }
        input[type="checkbox"] {
            display: none;
        }
        label {
            background: rgba(242, 244, 247, 1);
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            z-index: 1;
            width: 1.3541666666666667vw;
            height: 1.25vw;
        }
        input[id="for-buy_1"]:checked + label:after,
        input[id="for-buy_2"]:checked + label:after,
        input[id="for-buy_3"]:checked + label:after {
            position: relative;
            top: 0.3125vw;
            left: 0.3125vw;
            content: "\2714";
            font-size: 0.7291666666666666vw;
            color: #5ccc81;
        }
    }
    &__buttons {
        display: flex;
        text-align: center;
        font-size: 0.9375vw;
        font-weight: 600;
        gap: 1.0416666666666665vw;

        & > div {
            padding: 1.0416666666666665vw;
            width: 50%;
            background: #f2f4f7;
            border-radius: 1.5625vw;
            cursor: pointer;
        }
    }
    &__btn-buy {
        transition: all 0.5s;
        color: #fff;
        line-height: 2.2395833333333335vw;
    }
    &__get-inform {
        color: #42474d;
    }
}

.buy-vebinar,
.buy-vebinar--18,
.buy-vebinar--19,
.buy-vebinar--18-19 {
    display: none;
}

// ---------------participation в cost_travel---------------
