@media (max-width: 1080px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  .container {
    max-width: 760px !important;
    padding: 0 1.56vw;
  }
  .btn {
    padding: 15px 1.56vw;
    border-radius: 2.60vw;
    font-size: 12px;
  }
  .btn:hover {
    -webkit-box-shadow: 0 0 0.52vw #498ed2;
            box-shadow: 0 0 0.52vw #498ed2;
  }
  .btn.btn-green {
    padding: 15px 2.60vw;
    font-size: 12px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 2.60vw;
  }
  .btn.btn-green:hover {
    -webkit-box-shadow: 0 0 1.04vw #5ccc81;
            box-shadow: 0 0 1.04vw #5ccc81;
  }
  .btn.btn-green.big {
    padding: 15px 1.56vw;
    max-width: 220px;
    font-size: 12px;
  }
  .btn.btn-green-linear {
    width: 100%;
    max-width: 220px;
    padding: 15px 1.56vw;
    font-size: 12px;
    border-radius: 2.60vw;
    background: #5ccc81;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .btn.btn-green-linear:hover {
    -webkit-box-shadow: 0 0 1.04vw #5ccc81;
            box-shadow: 0 0 1.04vw #5ccc81;
  }
  .btn img {
    width: 12px;
    height: 12px;
  }
  .btn span {
    margin: 0 5px;
  }
  .multi-title {
    font-size: 1.25vw;
    line-height: 1.17;
    margin-bottom: 1.04vw;
  }
  .multi-subtitle {
    font-size: 0.73vw;
    line-height: 1.29;
    margin-bottom: 1.04vw;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 2.08vw !important;
    height: 2.08vw !important;
    -webkit-box-shadow: 0px 0.52vw 1.04vw rgba(92, 204, 129, 0.3);
            box-shadow: 0px 0.52vw 1.04vw rgba(92, 204, 129, 0.3);
    border-radius: 50%;
  }
  .swiper-button-prev::before {
    width: 11px;
    height: 11px;
  }
  .swiper-button-next::before {
    width: 11px;
    height: 11px;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 0.42vw !important;
    height: 0.42vw !important;
    background: #dae3f1;
    border-radius: 6px;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 2.08vw !important;
    background: linear-gradient(95.64deg, #6cd990 0%, #5ccc81 100%);
    border-radius: 6px;
  }
  .header {
    background: #f2f4f7;
    padding: 0.52vw 1.56vw;
  }
  .header-menu,
  .header-phone,
  .header-whatsapp {
    display: none;
  }
  .header-wrapper .btn {
    display: none;
  }
  .header-menu-m {
    width: 17px;
    height: 0.73vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu-m span {
    width: 100%;
    display: block;
    border: 1.6px solid #4da2d6;
  }
  .header-menu-m span:last-child {
    width: 50%;
  }
  .header-logo {
    width: 108px;
    height: 44px;
  }
  .header-lang.active .lang-top img {
    margin-top: 0;
  }
  .header-lang .lang-top {
    background: #ffffff;
    border-radius: 0.52vw;
    padding: 11px 0.73vw;
    font-size: 0.52vw;
    line-height: 12px;
  }
  .header-lang .lang-top img {
    margin-left: 4px;
    width: 0.42vw;
    height: 0.42vw;
    margin-top: -2px;
  }
  .header-lang .lang-items {
    top: calc(100% + 0.52vw);
    -webkit-box-shadow: 0vw 5px 0.52vw rgba(0, 0, 0, 0.07);
            box-shadow: 0vw 5px 0.52vw rgba(0, 0, 0, 0.07);
    border-radius: 0.52vw;
  }
  .header-lang .lang-items .item {
    padding: 0.52vw;
    border-radius: 0.52vw;
    font-size: 0.52vw;
    line-height: 12px;
  }
  .header-lang .lang-items .item:hover {
    text-shadow: 0 0 0.52vw rgba(102, 114, 128, 0.5);
  }
  .section {
    padding: 154px 0 3.13vw 0;
    min-height: initial;
  }
  .section::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    background: #f2f4f7;
  }
  .section::before {
    content: "";
    width: 502px;
    height: 443px;
    position: absolute;
    left: -100px;
    bottom: 0;
    z-index: -5;
    background: url("../images/section/bg--1-m.png") bottom center no-repeat;
    background-size: contain;
  }
  .section-block {
    max-width: 320px;
  }
  .section-block .title {
    font-size: 1.25vw;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 1.04vw;
  }
  .section-block .subtitle {
    margin-bottom: 3.13vw;
    color: #42474d;
    font-size: 0.83vw;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
  .section-block .first-event {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0.83vw;
  }
  .section-block .first-event .first-event-top {
    padding: 0.52vw;
  }
  .section-block .first-event .first-event-top .date {
    padding: 6px 0.52vw;
    border-radius: 0.52vw;
    margin-right: 1.04vw;
  }
  .section-block .first-event .first-event-top .date .num {
    font-size: 1.25vw;
    line-height: 1.25;
  }
  .section-block .first-event .first-event-top .date .day {
    font-size: 0.52vw;
    line-height: 1.4;
  }
  .section-block .first-event .first-event-top .info .name {
    margin-bottom: 4px;
    font-size: 0.73vw;
    line-height: 1.29;
  }
  .section-block .first-event .first-event-top .info .time {
    font-size: 0.73vw;
    line-height: 1.29;
  }
  .section-block .first-event .first-event-link {
    padding: 1.04vw;
    border-radius: 0px 0px 0.83vw 0.83vw;
  }
  .section-block .first-event .first-event-link::before {
    background: #43a865;
    mix-blend-mode: initial;
    border-radius: 0px 0px 0.83vw 0.83vw;
  }
  .section-block .first-event .first-event-link span {
    font-size: 12px;
    line-height: 1.33;
  }
  .section-block .first-event .first-event-link img {
    width: 23px;
    height: 23px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .steps-expert {
    padding: 2.08vw 0;
    overflow: hidden;
  }
  .steps-expert .multi-title {
    margin-bottom: 3.13vw;
  }
  .steps-expert-items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: none;
    padding: 0 1.56vw;
  }
  .steps-expert-items::before {
    display: none;
  }
  .steps-expert-items.steps-expert-items-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .steps-expert-items .swiper {
    width: 100%;
    overflow: visible !important;
  }
  .steps-expert-items .swiper .swiper-slide {
    width: 180px !important;
  }
  .steps-expert-items .swiper .swiper-slide:nth-child(1) {
    width: 300px !important;
  }
  .steps-expert-items .swiper .swiper-wrapper {
    position: relative;
  }
  .steps-expert-items .swiper .swiper-wrapper::before {
    content: "";
    width: 905px;
    height: 190px;
    position: absolute;
    left: 220px;
    bottom: 1.51vw;
    z-index: -6;
    background: url("../images/steps-expert/line-m.svg") left bottom no-repeat;
    background-size: contain;
  }
  .steps-expert-items .item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .steps-expert-items .item.item-first {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  .steps-expert-items .item.item-first .num {
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: linear-gradient(135deg, #41b3d9 0%, #498ed2 100%);
    -webkit-box-shadow: 0px 15px 1.56vw rgba(77, 162, 214, 0.5);
            box-shadow: 0px 15px 1.56vw rgba(77, 162, 214, 0.5);
    font-weight: 700;
    font-size: 44px;
    color: #ffffff;
    border-radius: 50%;
    position: relative;
    margin-bottom: 45px;
  }
  .steps-expert-items .item.item-first .num::before {
    content: "";
    width: 8.33vw;
    height: 8.33vw;
    position: absolute;
    z-index: -5;
    background: #4da2d6;
    opacity: 0.05;
    border-radius: 50%;
  }
  .steps-expert-items .item.item-first .name {
    margin-bottom: 25px;
  }
  .steps-expert-items .item.item-first .btn {
    width: 100%;
  }
  .steps-expert-items .item .num {
    margin-bottom: 0.52vw;
    font-size: 3.65vw;
    line-height: 1.43;
  }
  .steps-expert-items .item .name {
    font-size: 0.73vw;
    line-height: 1.29;
    margin-bottom: 2.60vw;
  }
  .steps-expert-items .item .circle {
    width: 3.13vw;
    height: 3.13vw;
  }
  .steps-expert-items .item .circle::before {
    width: 1.25vw;
    height: 1.25vw;
  }
  .mentoring {
    padding: 2.08vw 0;
  }
  .mentoring::after {
    display: none;
  }
  .mentoring-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-bottom: 2.60vw;
    grid-gap: initial;
  }
  .mentoring-items .item {
    width: 100%;
    max-width: 165px;
    padding: 1.04vw 0.73vw;
    -webkit-box-shadow: 0px 5px 15px rgba(44, 47, 51, 0.08);
            box-shadow: 0px 5px 15px rgba(44, 47, 51, 0.08);
    border-radius: 0.83vw;
    margin: 0;
  }
  .mentoring-items .item .img {
    max-width: 1.56vw;
    min-width: 1.56vw;
    height: 1.56vw;
    margin-bottom: 0.52vw;
  }
  .mentoring-items .item .name {
    margin-bottom: 0.52vw;
    font-size: 0.73vw;
    line-height: 1.14;
  }
  .mentoring-items .item .text {
    font-size: 0.52vw;
    line-height: 1.4;
  }
  .mentoring-slider {
    max-width: 600px;
  }
  .mentoring-slider .multi-title {
    margin-bottom: 1.04vw;
  }
  .mentoring-slider .slider .slider-block {
    border-radius: 1.04vw;
    padding: 1.04vw;
  }
  .mentoring-slider .slider .slider-block .img {
    max-width: 250px;
    max-height: 300px;
    min-height: 300px;
  }
  .mentoring-slider .slider .slider-block .content {
    max-width: 320px;
  }
  .mentoring-slider .slider .slider-block .content .name {
    margin-bottom: 2px;
    font-size: 0.83vw;
    line-height: 1.25;
  }
  .mentoring-slider .slider .slider-block .content .place {
    margin-bottom: 0.94vw;
    font-size: 12px;
    line-height: 1.33;
  }
  .mentoring-slider .slider .slider-block .content .text {
    font-size: 0.52vw;
    line-height: 1.6;
  }
  .mentoring-slider .slider .swiper .swiper-slide {
    opacity: 0;
  }
  .mentoring-slider .slider .swiper .swiper-slide.swiper-slide-active {
    opacity: 1;
  }
  .mentoring-slider .slider .swiper .swiper-button-prev {
    left: -2.60vw;
  }
  .mentoring-slider .slider .swiper .swiper-button-next {
    right: -2.60vw;
  }
  .review {
    padding: 2.08vw 0;
  }
  .review .multi-title {
    margin-bottom: 4px;
  }
  .review .multi-subtitle {
    margin-bottom: 1.04vw;
  }
  .review .btn {
    display: none;
  }
  .review-items {
    max-width: 628px;
    margin-bottom: 68px;
  }
  .review-items .swiper .swiper-button-prev {
    left: -2.60vw;
  }
  .review-items .swiper .swiper-button-next {
    right: -2.60vw;
  }
  .review-items .swiper .swiper-pagination {
    bottom: -1.56vw;
  }
  .review-items .review-block {
    padding: 0.73vw;
    background: #f5f5f5;
    border-radius: 1.04vw;
  }
  .review-items .review-block .top {
    margin-bottom: 0.94vw;
  }
  .review-items .review-block .top .person .img {
    width: 3.13vw;
    min-width: 3.13vw;
    max-width: 3.13vw;
    height: 3.13vw;
    margin-right: 0.52vw;
  }
  .review-items .review-block .top .person .info {
    margin-right: 0.52vw;
  }
  .review-items .review-block .top .person .info .name {
    margin-bottom: 0px;
    font-size: 0.73vw;
    line-height: 1.14;
  }
  .review-items .review-block .top .person .info .place {
    font-size: 0.52vw;
    line-height: 1.4;
  }
  .review-items .review-block .top .socials a {
    width: 1.77vw;
    min-width: 1.77vw;
    max-width: 1.77vw;
    height: 1.77vw;
    margin-right: 0.52vw;
  }
  .review-items .review-block .top .socials a img {
    width: 0.73vw;
    height: 0.73vw;
  }
  .review-items .review-block .content {
    width: 100%;
  }
  .review-items .review-block .content .text {
    font-size: 0.52vw;
    line-height: 1.6;
  }
  .review-video {
    min-height: 360px;
    margin-bottom: 80px;
  }
  .review-video::before {
    display: none;
  }
  .review-video::after {
    display: none;
  }
  .review-video .swiper .swiper-slide {
    width: 200px !important;
    height: 300px !important;
    border-radius: 0.83vw;
    margin: 0 5px !important;
    -webkit-transform: translateY(1.56vw);
            transform: translateY(1.56vw);
  }
  .review-video .swiper .swiper-slide.swiper-slide-active {
    width: 240px !important;
    height: 360px !important;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .review-video .swiper .swiper-button-prev {
    display: none;
  }
  .review-video .swiper .swiper-button-next {
    display: none;
  }
  .review-video .item .play {
    width: 2.60vw;
    height: 2.60vw;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 2.60vw;
  }
  .review-video .item .play img {
    width: 1.04vw;
    height: 1.04vw;
  }
  .events {
    padding: 2.08vw 0;
  }
  .events-block {
    max-width: 700px;
  }
  .events-upcoming {
    max-width: 340px;
  }
  .events-upcoming .multi-title {
    margin-bottom: 2.08vw;
  }
  .events-upcoming .list::before {
    content: "";
    width: calc(100% - 1.04vw);
    height: 64px;
  }
  .events-upcoming .list .list-wrapper {
    max-height: 400px;
    padding: 0 0.52vw;
    margin-left: -0.52vw;
  }
  .events-upcoming .list .events-item {
    padding: 6px;
    border-radius: 0.52vw;
    margin-bottom: 6px;
  }
  .events-upcoming .list .events-item.active {
    -webkit-box-shadow: 0px 5px 0.52vw rgba(98, 203, 168, 0.5);
            box-shadow: 0px 5px 0.52vw rgba(98, 203, 168, 0.5);
  }
  .events-item.events-item-calendar {
    color: #fff;
    padding: 0.83vw 4px;
  }
  .events-item.events-item-calendar .date {
    background: rgba(255, 255, 255, 0.15);
  }
  .events-item.events-item-calendar .info .name {
    margin-bottom: 4px;
    font-size: 0.73vw;
  }
  .events-item.events-item-calendar .info .time {
    font-size: 0.73vw;
  }
  .events-item .date {
    border-radius: 0.52vw;
    width: 3.13vw;
    min-width: 3.13vw;
    height: 3.13vw;
    margin-right: 0.52vw;
  }
  .events-item .date .num {
    font-size: 1.25vw;
    line-height: 1.25;
  }
  .events-item .date .month {
    font-size: 0.52vw;
    line-height: 1.4;
  }
  .events-item .info .time {
    font-size: 0.52vw;
    line-height: 1.4;
    margin-bottom: 5px;
  }
  .events-item .info .name {
    font-size: 12px;
    line-height: 1.33;
  }
  .calendar-block {
    max-width: 340px;
    border-radius: 0.83vw;
  }
  .calendar-block .calendar {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0.83vw;
    padding: 1.35vw;
  }
  .calendar-block .calendar .month {
    margin-bottom: 1.56vw;
  }
  .calendar-block .calendar .month .name {
    font-size: 0.83vw;
    line-height: 1.38;
  }
  .calendar-block .calendar .month .arrow {
    width: auto;
    height: auto;
    padding: 13px;
  }
  .calendar-block .calendar .month .arrow img {
    width: 0.42vw;
    height: 0.42vw;
  }
  .calendar-block .calendar .days .col .days-name {
    margin-bottom: 1.04vw;
    font-size: 12px;
    line-height: 1.25;
  }
  .calendar-block .calendar .days .col .days-nums span {
    font-size: 0.73vw;
    margin-bottom: 1.56vw;
  }
  .calendar-block .calendar .days .col .days-nums span.days-nums-current::before, .calendar-block .calendar .days .col .days-nums span.days-nums-active::before {
    content: "";
    width: 1.77vw;
    height: 1.77vw;
  }
  .calendar-block .calendar-block-wrapper {
    padding: 6px;
  }
  .calendar-block .link {
    border-radius: 0px 0px 0.83vw 0.83vw;
  }
  .calendar-block .link::before {
    border-radius: 0px 0px 0.83vw 0.83vw;
  }
  .calendar-block .link .link-wrapper {
    padding: 1.04vw;
  }
  .calendar-block .link .name {
    font-size: 12px;
    line-height: 1.33;
  }
  .calendar-block .link img {
    width: 23px;
    height: 23px;
  }
  .program {
    padding: 2.08vw 0;
    background: #f5f5f5;
    border-radius: 1.04vw;
  }
  .program-top {
    margin-bottom: 1.04vw;
  }
  .program-top .multi-title {
    max-width: 340px;
  }
  .program-top .info {
    max-width: 340px;
  }
  .program-top .info .name {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 1.33;
  }
  .program-top .info .arrows {
    display: none;
  }
  .program-slider {
    margin-bottom: 1.04vw;
  }
  .program-slider .swiper .swiper-slide {
    max-width: 220px;
  }
  .program-block {
    -webkit-box-shadow: 0px 4px 1.04vw rgba(0, 0, 0, 0.07);
            box-shadow: 0px 4px 1.04vw rgba(0, 0, 0, 0.07);
    border-radius: 0.83vw;
  }
  .program-block .img {
    height: 146px;
  }
  .program-block .img img {
    min-height: 146px;
  }
  .program-block .content {
    padding: 0.73vw;
  }
  .program-block .content .name {
    margin-bottom: 0.73vw;
    font-size: 12px;
    line-height: 1.33;
    -webkit-line-clamp: 5;
    /* number of lines to show */
    line-clamp: 5;
  }
  .program-block .content .schedule {
    padding-top: 0.73vw;
    border-top: 0.6px solid #dae3f1;
  }
  .program-block .content .schedule .schedule-wrapper {
    padding-right: 0.52vw;
  }
  .program-block .content .schedule .schedule-wrapper .schedule-img {
    width: 0.83vw;
    height: 0.83vw;
    margin-right: 0.52vw;
  }
  .program-block .content .schedule .schedule-wrapper .schedule-name {
    font-size: 12px;
    line-height: 1.33;
  }
  .program-block .content .schedule .schedule-arrow {
    width: auto;
    height: auto;
    padding: 0.42vw;
  }
  .program-block .content .schedule .schedule-arrow img {
    width: 0.42vw;
    height: 0.42vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .faq {
    padding: 2.08vw 0;
  }
  .faq .multi-title {
    margin-bottom: 1.04vw;
  }
  .faq-items .item {
    border-bottom: 1px solid #dae3f1;
  }
  .faq-items .item .item-top {
    width: 100%;
    padding: 0.73vw 1.56vw 0.73vw 0;
  }
  .faq-items .item .item-top::before {
    content: "";
    width: 0.52vw;
    height: 0.52vw;
    right: 1.04vw;
  }
  .faq-items .item .item-top .name {
    font-size: 12px;
  }
  .faq-items .item .item-content {
    padding: 0.52vw 0;
  }
  .faq-items .item .item-content span {
    font-size: 0.52vw;
    line-height: 1.6;
    margin-bottom: 0.52vw;
  }
  .faq-items .item .item-content span:last-child {
    margin-bottom: 0;
  }
  .tg-qr {
    padding: 1.56vw 0;
  }
  .tg-qr-block .content {
    padding-right: 1.04vw;
  }
  .tg-qr-block .content .name {
    margin-bottom: 0.52vw;
    font-size: 0.94vw;
    line-height: 1.22;
  }
  .tg-qr-block .content .subname {
    font-size: 12px;
    line-height: 1.33;
  }
  .tg-qr-block .qr-code {
    padding: 0.52vw;
    border-radius: 0.83vw;
  }
  .tg-qr-block .qr-code .img {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    margin-bottom: 0px;
  }
  .tg-qr-block .qr-code .name {
    display: none;
  }
  .personal {
    padding: 0.52vw 0;
    overflow: hidden;
  }
  .personal-items {
    width: 100%;
    display: block;
    grid-gap: initial;
  }
  .personal-items .swiper .swiper-slide {
    max-width: 318px;
  }
  .personal-items .item {
    padding: 0.52vw;
    border-radius: 1.04vw;
  }
  .personal-items .item .img {
    width: 2.60vw;
    min-width: 2.60vw;
    max-width: 2.60vw;
    height: 2.60vw;
    margin-right: 0.52vw;
  }
  .personal-items .item .info .place {
    font-size: 0.52vw;
  }
  .personal-items .item .info .name {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.33;
  }
  .personal-items .item .info .phone {
    font-size: 0.52vw;
    line-height: 1;
  }
  .footer {
    padding: 1.56vw 0;
  }
  .footer .container {
    max-width: 100%;
  }
  .footer-main {
    padding: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-main .top {
    margin-bottom: 1.04vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.04vw;
  }
  .footer-main .top .logo-wrapper .logo {
    width: 91px;
    height: 36px;
    margin-right: 0.52vw;
  }
  .footer-main .top .logo-wrapper .logo-name {
    padding-left: 0.52vw;
    font-size: 0.52vw;
    line-height: 1.4;
  }
  .footer-main .top .social {
    margin-bottom: -0.52vw;
  }
  .footer-main .top .social a {
    width: 44px;
    min-width: 44px;
    max-width: 44px;
    height: 44px;
    margin-right: 0.52vw;
    margin-bottom: 0.52vw;
  }
  .footer-main .top .social a img {
    max-width: 0.94vw;
    max-height: 0.94vw;
  }
  .footer-main .content {
    padding-bottom: 0.52vw;
  }
  .footer-main .content .content-title {
    margin-bottom: 1.04vw;
    width: auto;
    font-size: 0.73vw;
    line-height: 1.29;
  }
  .footer-main .content .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-main .content .menu .col {
    max-width: 213px;
  }
  .footer-main .content .menu .col a {
    margin-bottom: 0.52vw;
    font-size: 12px;
    line-height: 1.83;
  }
  .footer-main .content .footer-messengers {
    display: none;
  }
  .footer-contact {
    display: none;
  }
  .footer-contact-m {
    width: 100%;
    padding: 1.04vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-contact-m .left {
    width: 100%;
    max-width: 340px;
  }
  .footer-contact-m .left a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.73vw;
  }
  .footer-contact-m .left a:last-child {
    margin-bottom: 0;
  }
  .footer-contact-m .left a .img {
    margin-right: 0.52vw;
    width: 0.94vw;
    min-width: 0.94vw;
    max-width: 0.94vw;
    height: 0.94vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-contact-m .left a .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer-contact-m .left a .name {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #ffffff;
  }
  .footer-messengers {
    max-width: 340px;
    margin-bottom: -0.52vw;
  }
  .footer-messengers .footer-messengers-items .row .item {
    margin-right: 0.52vw;
    margin-bottom: 0.52vw;
    border-radius: 0.83vw;
    padding: 13px;
  }
  .footer-messengers .footer-messengers-items .row .item .img {
    width: 1.25vw;
    min-width: 1.25vw;
    max-width: 1.25vw;
    height: 1.25vw;
    margin-right: 0.52vw;
  }
  .footer-messengers .footer-messengers-items .row .item .item-text .item-text-supname {
    font-size: 0.42vw;
    line-height: 1.2;
  }
  .footer-messengers .footer-messengers-items .row .item .item-text .item-text-name {
    font-size: 0.73vw;
    line-height: 1.29;
  }
  .footer-copyright {
    padding: 0;
    padding-top: 1.04vw;
  }
  .footer-copyright .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-copyright .wrapper a {
    margin-right: 0.73vw;
  }
  .footer-copyright .name {
    font-size: 12px;
    line-height: 1.33;
  }
  .footer-copyright a {
    font-size: 12px;
    line-height: 1.33;
  }
  .menu-m {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu-m.active {
    display: block;
    opacity: 1;
  }
  .menu-m .menu-m-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(66, 71, 77, 0.3);
  }
  .menu-m .menu-m-content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 360px;
    height: 100%;
    background: #f2f5fa;
    overflow-y: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu-m .menu-m-content .wrapper {
    width: 100%;
    margin-bottom: 0.52vw;
    padding: 0.52vw;
    background: #ffffff;
    border-radius: 1.04vw;
  }
  .menu-m .menu-m-content .wrapper .top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.25vw;
    position: sticky;
    top: 0;
    background: #fff;
    padding: 0.52vw 0;
  }
  .menu-m .menu-m-content .wrapper .top .name {
    font-weight: 600;
    font-size: 0.83vw;
    line-height: 1.04vw;
    text-align: center;
    color: #42474d;
  }
  .menu-m .menu-m-content .wrapper .top .close {
    width: 0.73vw;
    min-width: 0.73vw;
    max-width: 0.73vw;
    height: 0.73vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-m .menu-m-content .wrapper .top .close img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .menu-m .menu-m-content .wrapper .btn {
    width: 100%;
    margin-bottom: 0.73vw;
    border-radius: 0.83vw;
  }
  .menu-m .menu-m-content .wrapper .btn img {
    width: 0.83vw;
    height: 0.83vw;
  }
  .menu-m .menu-m-content .wrapper .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.73vw;
  }
  .menu-m .menu-m-content .wrapper .row .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-m .menu-m-content .wrapper .row .phone img {
    width: 0.83vw;
    height: 0.83vw;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 0.52vw;
  }
  .menu-m .menu-m-content .wrapper .row .phone span {
    font-weight: 600;
    font-size: 0.73vw;
    line-height: 1.29;
    color: #42474d;
  }
  .menu-m .menu-m-content .wrapper .row .whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 9px 0.52vw;
    background: linear-gradient(95.64deg, #6cd990 0%, #5ccc81 100%);
    border-radius: 0.52vw;
  }
  .menu-m .menu-m-content .wrapper .row .whatsapp .img {
    width: 0.83vw;
    height: 0.83vw;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-m .menu-m-content .wrapper .row .whatsapp .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .menu-m .menu-m-content .wrapper .row .whatsapp .name {
    font-weight: 600;
    font-size: 0.52vw;
    line-height: 1.4;
    color: #ffffff;
  }
  .menu-m .menu-m-content .wrapper .menu-m-lang {
    width: 100%;
    background: #f2f4f7;
    border-radius: 0.83vw;
  }
  .menu-m .menu-m-content .wrapper .menu-m-lang.active .menu-m-lang-top .arrow img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu-m .menu-m-content .wrapper .menu-m-lang.active .menu-m-lang-content {
    display: block;
  }
  .menu-m .menu-m-content .wrapper .menu-m-lang .menu-m-lang-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.52vw 0.73vw;
  }
  .menu-m .menu-m-content .wrapper .menu-m-lang .menu-m-lang-top .name {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    color: #42474d;
  }
  .menu-m .menu-m-content .wrapper .menu-m-lang .menu-m-lang-top .arrow {
    padding: 6px;
  }
  .menu-m .menu-m-content .wrapper .menu-m-lang .menu-m-lang-top .arrow img {
    width: 0.42vw;
    min-width: 0.42vw;
    max-width: 0.42vw;
    height: 0.42vw;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu-m .menu-m-content .wrapper .menu-m-lang .menu-m-lang-content {
    width: 100%;
    display: none;
  }
  .menu-m .menu-m-content .wrapper .menu-m-lang .menu-m-lang-content .item {
    width: 100%;
    padding: 12px 0.73vw;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    color: #42474D;
    border-top: 1px solid #fff;
    display: block;
  }
  .menu-m .menu-m-content .menu-m-list {
    width: 100%;
  }
  .menu-m .menu-m-content .menu-m-list .block {
    margin-bottom: 6px;
    width: 100%;
    padding: 0.83vw 0.73vw;
    background: #ffffff;
    border-radius: 0.83vw;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.17;
    color: #42474d;
    display: block;
  }
  .menu-m .menu-m-content .menu-m-list .block-drop {
    width: 100%;
    color: #42474d;
    background: #ffffff;
    margin-bottom: 6px;
    border-radius: 0.83vw;
  }
  .menu-m .menu-m-content .menu-m-list .block-drop.active .block-top .arrow img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu-m .menu-m-content .menu-m-list .block-drop.active .block-content {
    display: block;
  }
  .menu-m .menu-m-content .menu-m-list .block-drop .block-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.83vw 0.73vw;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.17;
  }
  .menu-m .menu-m-content .menu-m-list .block-drop .block-top .arrow img {
    width: 0.42vw;
    min-width: 0.42vw;
    max-width: 0.42vw;
    height: 0.42vw;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu-m .menu-m-content .menu-m-list .block-drop .block-content {
    width: 100%;
    display: none;
  }
  .menu-m .menu-m-content .menu-m-list .block-drop .block-content .item {
    width: 100%;
    padding: 0.83vw 1.25vw;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: #42474D;
    border-top: 1px solid #f2f5fa;
  }
  .modal .modal-wrapper {
    padding: 2.60vw 0;
  }
  .modal .modal-content {
    padding: 0.52vw;
  }
  .modal .modal-content .close {
    width: 21px;
    height: 21px;
    top: -1.56vw;
  }
  .modal-schedule {
    max-width: 500px;
    border-radius: 1.56vw;
  }
  .modal-schedule .top {
    padding: 1.04vw;
  }
  .modal-schedule .top .day .num {
    font-size: 2.08vw;
    margin-right: 1.04vw;
  }
  .modal-schedule .top .day span {
    font-size: 0.73vw;
  }
  .modal-schedule .top .rapporteur {
    text-align: right;
  }
  .modal-schedule .top .rapporteur .supname {
    margin-bottom: 4px;
    font-size: 12px;
  }
  .modal-schedule .top .rapporteur .name {
    font-size: 0.73vw;
  }
  .modal-schedule .content .item {
    padding: 1.04vw;
  }
  .modal-schedule .content .item .time {
    margin-right: 1.04vw;
    width: 100%;
    min-width: 3.13vw;
    max-width: 3.13vw;
    font-size: 0.83vw;
  }
  .modal-schedule .content .item .text {
    font-size: 12px;
  }
}

@media (max-width: 670px) {
  .container {
    padding: 0 0.52vw;
  }
  .header {
    padding: 0.52vw 0.73vw;
  }
  .header-logo {
    width: 84px;
    height: 1.77vw;
  }
  .section {
    padding: 80px 0 0px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section::before {
    content: "";
    width: 291px;
    height: 335px;
    position: absolute;
    left: initial;
    bottom: 100px;
    z-index: -5;
    background: url("../images/section/bg--1-m-small.png") bottom center no-repeat;
    background-size: contain;
  }
  .section-block {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .section-block .first-event {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0.83vw;
    margin-top: 200px;
    max-width: 360px;
    text-align: left;
  }
  .section-block .first-event .first-event-top {
    padding: 0.52vw;
  }
  .section-block .first-event .first-event-top .date {
    padding: 6px 0.52vw;
    border-radius: 0.52vw;
    margin-right: 1.04vw;
  }
  .section-block .first-event .first-event-top .date .num {
    font-size: 1.25vw;
    line-height: 1.25;
  }
  .section-block .first-event .first-event-top .date .day {
    font-size: 0.52vw;
    line-height: 1.4;
  }
  .section-block .first-event .first-event-top .info .name {
    margin-bottom: 4px;
    font-size: 0.73vw;
    line-height: 1.29;
  }
  .section-block .first-event .first-event-top .info .time {
    font-size: 0.73vw;
    line-height: 1.29;
  }
  .section-block .first-event .first-event-link {
    padding: 1.04vw;
    border-radius: 0px 0px 0.83vw 0.83vw;
  }
  .section-block .first-event .first-event-link::before {
    background: #43a865;
    mix-blend-mode: initial;
    border-radius: 0px 0px 0.83vw 0.83vw;
  }
  .section-block .first-event .first-event-link span {
    font-size: 12px;
    line-height: 1.33;
  }
  .section-block .first-event .first-event-link img {
    width: 23px;
    height: 23px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .steps-expert-items {
    padding: 0 0.52vw;
  }
  .mentoring-items .item {
    max-width: 240px;
  }
  .mentoring-items .swiper .swiper-pagination {
    bottom: -1.56vw;
  }
  .mentoring-slider {
    max-width: 600px;
  }
  .mentoring-slider .multi-title {
    margin-bottom: 1.04vw;
    text-align: center;
    width: 100%;
  }
  .mentoring-slider .slider .slider-block {
    border-radius: 1.04vw;
    padding: 1.04vw;
    margin-top: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mentoring-slider .slider .slider-block .img {
    max-width: 340px;
    max-height: 260px;
    min-height: 260px;
    right: unset;
    bottom: 100%;
  }
  .mentoring-slider .slider .slider-block .content {
    max-width: 100%;
    text-align: center;
  }
  .mentoring-slider .slider .swiper .swiper-button-prev {
    left: 0.52vw;
    top: 30%;
  }
  .mentoring-slider .slider .swiper .swiper-button-next {
    right: 0.52vw;
    top: 30%;
  }
  .review-items {
    max-width: 340px;
    margin-bottom: 68px;
  }
  .review-items .swiper .swiper-slide {
    opacity: 0 !important;
    pointer-events: none !important;
  }
  .review-items .swiper .swiper-slide.swiper-slide-next {
    opacity: 0 !important;
    pointer-events: none !important;
  }
  .review-items .swiper .swiper-button-prev {
    left: 0.52vw;
    top: 30%;
  }
  .review-items .swiper .swiper-button-next {
    right: 0.52vw;
    top: 30%;
  }
  .review-items .swiper .swiper-pagination {
    bottom: 0.52vw;
  }
  .review-items .review-block .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review-items .review-block .top .person {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review-items .review-block .top .person .img {
    margin-right: 0px;
    margin-bottom: 0.52vw;
  }
  .review-items .review-block .top .person .info {
    margin: 0;
    margin-bottom: 0.52vw;
  }
  .review-items .review-block .content {
    text-align: center;
    padding-bottom: 1.56vw;
  }
  .review-video {
    margin-bottom: 0px;
  }
  .review-video .swiper .swiper-slide {
    width: 240px !important;
    height: 360px !important;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.15;
  }
  .review-video .swiper .swiper-slide.swiper-slide-active {
    opacity: 1;
  }
  .review-video .swiper .swiper-button-prev {
    display: none;
  }
  .review-video .swiper .swiper-button-next {
    display: none;
  }
  .review-video .item .play {
    width: 2.60vw;
    height: 2.60vw;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 2.60vw;
  }
  .review-video .item .play img {
    width: 1.04vw;
    height: 1.04vw;
  }
  .events .container {
    padding: 0;
  }
  .events-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .events-block .events-upcoming {
    max-width: 100%;
  }
  .events-block .events-upcoming .multi-title {
    text-align: center;
    margin-bottom: 1.04vw;
  }
  .events-block .events-upcoming .list {
    display: none;
  }
  .events-block .calendar-block {
    max-width: 360px;
  }
  .program {
    padding: 2.08vw 0 0.52vw 0;
  }
  .program-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .program-top .multi-title {
    max-width: 340px;
    margin-bottom: 0.52vw;
    text-align: center;
  }
  .program-top .info {
    max-width: 340px;
  }
  .program-top .info .name {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 1.33;
  }
  .program-top .info .arrows {
    display: none;
  }
  .program-slider {
    margin-bottom: 2.60vw;
  }
  .program-slider .swiper .swiper-slide {
    max-width: 240px;
  }
  .program-slider .swiper .swiper-pagination {
    bottom: -35px;
  }
  .tg-qr {
    padding: 1.04vw 0;
  }
  .tg-qr-block {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tg-qr-block .content {
    padding: 0;
    margin-bottom: 1.04vw;
  }
  .tg-qr-block .qr-code {
    display: none;
  }
  .tg-qr-block .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 332px;
  }
  .tg-qr-block .btn img {
    width: 23px;
    height: 23px;
  }
  .tg-qr-block .btn span {
    margin: 0 0.52vw;
  }
  .footer {
    padding: 1.04vw 0;
  }
  .footer-main .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-main .top .logo-wrapper {
    margin-bottom: 1.04vw;
  }
  .footer-main .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1.04vw;
  }
  .footer-main .content .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-main .content .menu .col {
    max-width: 100%;
    margin-bottom: 1.04vw;
  }
  .footer-main .content .footer-messengers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-main .content .footer-messengers .content-title {
    display: none;
  }
  .footer-messengers {
    max-width: 100%;
  }
  .footer-contact-m .footer-messengers {
    display: none;
  }
  .footer-copyright {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-copyright .wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-copyright .wrapper a {
    margin-right: 0px;
  }
  .footer-copyright .name {
    margin-bottom: 0.52vw;
  }
  .footer-copyright a {
    margin-bottom: 0.52vw;
  }
  .footer-copyright a:last-child {
    margin-bottom: 0;
  }
}
